<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"     
      lang="en">
  <head>
    <title>Front User Creation</title>
    <meta charset="utf-8">
  </head>
  <body class="app sidebar-mini rtl">
    <div layout:fragment="content1">
      <main class="app-content">
        <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="tile">
            <div class="row justify-content-center">
              <div class="col">
                <h3 class="tile-title">Creation d'utilisateur Front</h3>
                  <form id="create" th:action="@{/manageResource/saveUF}" th:object="${userfront}" method="post"> 
                  <div class="form-group">
                    <label class="col-form-label" for="inputDefault">User name</label>
                    <input class="form-control" th:field="*{username}" id="inputDefault" type="text"  required>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Region</label>
                    <select class="form-control selectpicker" th:field="*{region}" data-style="btn-success" name="region" id="exampleFormControlSelect1">
                      <th:block th:each="r:${region}">
                          <option th:text="${r.getNom()}" th:value="${r.getId()}"></option>
                        </th:block>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="mdp1">Nouveau mot de passe</label>
                    <input name="mdp" id="mdp1" th:field="*{password}" class="form-control"  type="password" required>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label" for="mdp2">Confirmé le nouveau mot de passe</label>
                    <input name="mdp2" id="mdp2" class="form-control" type="password" required>
                  </div>
                  <div class="tile-footer">
                    <button  class="btn btn-primary" type="submit">Submit</button>
                  </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </main>
      <script th:src="@{/js/plugins/sweetalert.min.js}"></script>
      <script type="text/javascript">
        document.getElementById("create").addEventListener("submit",function(event){

          var mdp1=document.getElementById("mdp1").value;
          var mdp2=document.getElementById("mdp2").value;
          if (mdp1 != mdp2) {
              event.preventDefault();
              swal("Mot de passe", "Veuillez ressaisir le mot de passe", "error");
            }
          return true;
        }); 
    </script>
    </div>
    
  </body>
</html>